<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.td.wallendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallendar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".home.ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addcharge.ui.AddChargeActivity"
            android:noHistory="true" />
        <activity
            android:name=".addgroup.ui.AddGroupActivity"
            android:noHistory="true" />
        <activity android:name=".group.ui.GroupActivity" />
        <activity
            android:name=".login.ui.LoginActivity"
            android:noHistory="true" />

    </application>


</manifest>